 <h2><%= link_to_unless_current post.title, post %></h2>
 <ul>
 <li><%= simple_format (truncate(post.body, length: 300)) %><%= link_to 'read more', post_path(post) %>
</ul>

 <p>Read the <%= link_to "#{post.comments.length} comments", post_path(post) %></p>
