<div class="innerContainer"> 
<h3><%= @post.title  %></h3>	
<p><%= @post.body %></p>

<% if @post.comments.length > 0 %>
  <% @post.comments.each do |comment| %>
  <%= comment.body %>
  <br>
  <% end %>
  <% end %>
</div>

