<div class="innerContainer"> 
  <%= render :partial => @post %>
  <%= render '/comments/form' %>

<div id="comments">
 <% if @post.comments.length > 0 %>
 <% @post.comments.each do |comment| %>
 <%= comment.body %>
 <br>
 <% end %>
 <% end %>
</div>

</div>

